body, html{
  height: 100%;
  background: url("../images/bg.jpg");
  background-size: cover;
  overflow-x: hidden
}

.biotitle{
  font-family: 'Krona One', sans-serif;
  color: black;
}

h2, h3{
  font-family: 'Merienda One', cursive;
}

p{
  font-family: 'Assistant', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}

.carousel-control.right, .carousel-control.left{
  background-image: none;
}

#game-carousel{
  overflow: hidden;
}

.btn-social-icon{
  color: black;
}
